remote_user: XXXXXXXXXXXXXXXXXXX
ansible_user: XXXXXXXXXXXXXXXXXXX
ansible_ssh_password: XXXXXXXXXXXXXXXXXXX
ansible_become_password: XXXXXXXXXXXXXXXXXXX
ansible_become_password: XXXXXXXXXXXXXXXXXXX
ansible_ssh_private_key_file: XXXXXXXXXXXXXXXXXXX
gotify:
  token: XXXXXXXXXXXXXXXXXXX